@import url('./reset.css');

.form-search {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
  align-items: center;


  /* height: 40px; */
}

button {
  background-color: rgb(22, 184, 52);
  border-radius: 10px;
  border: none;
  margin-left: 20px;
  color: rgb(45, 45, 45);
  width: 150px;
  height: 20px;
  cursor: pointer;

}

#gallery {
  display: flex;
  flex-wrap: wrap;
}

.image-card {
  width: calc(20% - 20px);

  margin: 10px;
}

.image-card img {
  width: 100%;

  border-radius: 10px;

}
.loader {
  width: 48px;
  height: 48px;
  border: 10px solid #FFF;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  box-sizing: border-box;
}
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
  padding: 20px 0;

}
.gallery-item {
  margin-left: 20px;

}



.gallery-link {
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  min-width: 320px;
}
.thumb-block {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  border: 1px solid #626aa5;
  border-top: none;

  padding: 10px 0;
}

.gallery-image {
  display: block;
  height: 30vh;
  object-fit: cover;


}

.block {
  text-align: center;
}

.title {
  color: #212127;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.amount {
  color: #212127;
  font-family: Montserrat;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.loader {
  width: 48px;
  height: 48px;
  border: 10px solid #FFF;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  box-sizing: border-box;
}